<!DOCTYPE html>
<html lang="es-AR">

<head>
  <% if(userSession && userSession.isAdmin) { %>
  <%- include("../partials/admin-head.ejs") %>
  <% }else{ %>
  <%- include("../partials/head.ejs") %>
  <% } %>

  <title>Administración de Productos | Grupo Sie7e</title>

  <!--Hoja de estilos propia de esta página-->
  <link rel="stylesheet" href="/css/product-management-styles.css">
</head>

<body>

  <main>
    <%- include("../partials/admin-header.ejs") %>

    <h1>Editar Productos</h1>
    <!-- Buscador de Producto -->
    <form class="product-selection" method="post" action="/admin/products/search?_method=PUT">

      <label>Buscar Producto:</label>
      <input type="text" name="search" placeholder="Buscar por nombre, SKU, categoría">

      <select name="searchId" name="searchId">
        <% products.forEach(product => { %>
        <option value="<%= product.id %>"><%= product.name %></option>
        <% }) %>
      </select>

      <button type="submit" class="blue-button search-button">Buscar</button>
    </form>

    <div class="btn-group-vertical grid gap-3" role="group" aria-label="Vertical button group">
      <div class="p-2 g-col-6">
        <a href="../create" class="btn btn-primary">Ir a crear nuevo producto</a>
      </div>
      <div class="p-2 g-col-6">
        <a href="../../../products/detail/<%= productItem.id %>" class="btn btn-primary">Ir a detalle <%= productItem.name %></a>
      </div>
    </div>

    <form class="product-form" method="post" action="/admin/products/<%= id %>?_method=PUT" enctype="multipart/form-data">
      <!-- Sección de datos del producto -->
      <section class="product-form__data">
        <label for="name">Nombre del Producto:</label>
        <input type="text" id="name" name="name" placeholder="Sanguche de milanesa" value="<%= productItem.name %>" required>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" placeholder="Sanguche de milanesa con tomate y lechuga, con un leve aderezo a base de mayonesa y mostaza. Un clasico de la gastronomia argentina" required><%= productItem.description %></textarea>

        <label for="sku">SKU:</label>
        <input type="text" id="sku" name="sku" placeholder="MIL-001CA" value="<%= productItem.sku %>">

        <label for="ingredients">Ingredientes:</label>
        <p>separar con comas!!!</p>
        <textarea id="ingredients" name="ingredients" placeholder="Pan, milanesa, tomate, lechuga, mayonesa, mostaza" required><%= productItem.ingredients%></textarea>

        <label for="image">Imagen del Producto:</label>
        <input type="file" id="image" name="image" accept="image/*" onchange="loadFile(event)">

        <div class="product-form__data--image">
          <img src="<%= productItem.image %>" title="<%= productItem.name %>" alt="<%= productItem.name %>" id="output">
        </div>
        <script>
          var loadFile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
              URL.revokeObjectURL(output.src) // free memory
            }
          };
        </script>

        <select id="category" name="category" required>
          <option value="comida" <% if (productItem.category === 'comida') { %> selected <% } %>>Comida</option>
          <option value="sanguche" <% if (productItem.category === 'sanguche') { %> selected <% } %>>Sanguchito</option>
          <option value="bebidas" <% if (productItem.category === 'bebidas') { %> selected <% } %>>Bebidas</option>
          <option value="snacks" <% if (productItem.category === 'snacks') { %> selected <% } %>>Snacks</option>
          <option value="postres" <% if (productItem.category === 'postres') { %> selected <% } %>>Postres</option>
          <option value="otros" <% if (productItem.category === 'otros') { %> selected <% } %>>Otros</option>
        </select>

        <div class="product-form__data--checkbox-group">

          <!--  (productItem.suitability.vegan) checked  produce error al crear un producto -->
          <div class="product-form__data--checkbox-container">
            <label for="vegetarian">Apto vegetariano</label>
            <input type="checkbox" id="vegetarian" name="vegetarian" >
          </div>

          <div class="product-form__data--checkbox-container">
            <label for="vegan">Apto vegano</label>
            <input type="checkbox" id="vegan" name="vegan" >
          </div>

          <div class="product-form__data--checkbox-container">
            <label for="celiac">Apto celiaco</label>
            <input type="checkbox" id="celiac" name="celiac">
          </div>

        </div>

        <label for="size">Tamaño:</label>
        <input type="text" id="size" name="size" placeholder="Grande" value="<%= productItem.size %>" required>

        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" min=0 placeholder="$4.000" value="<%= productItem.price %>" required>
      </section>

      <!-- Sección de Botones -->
      <section class="buttons-section">
        <button type="submit" class="blue-button">Guardar Cambios</button>

        <!-- Button trigger modal -->
        <button type="button" class="blue-button btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter" style="border: none;">
          BORRAR
        </button>
      </section>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Borrar producto</h5>
          </div>
          <div class="modal-body">
            <p>Borrar un producto es irreversible, desea BORRAR?</p>
          </div>
          <form class="modal-footer product-form" method="post" action="/admin/products/<%= id %>?_method=DELETE">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">BORRAR</button>
          </form>
        </div>
      </div>
    </div>
  </main>

  <%- include("../partials/admin-footer.ejs") %>

  <script>
    document.querySelector('.top-side__burguer-menu').addEventListener('click', () => {
      document.querySelector('nav ul').classList.toggle('active');
    });
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>