<!DOCTYPE html>
<html lang="es-AR">

<head>
    <% if(userSession && userSession.isAdmin) { %>
    <%- include("../../partials/admin-head.ejs") %>
    <% }else{ %>
    <%- include("../../partials/head.ejs") %>
    <% } %>
    
    <title>Cambiar Contraseña | Grupo Sie7e</title>
    <script defer src="/js/sendData.js"></script>

    <!-- Hoja de estilos propia de esta página -->
    <link rel="stylesheet" href="/css/profile/personal-info.css">

    <!-- just validate -->
     <script defer src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
  
    <!-- just validate script src -->
    <script defer src="/js/change-password-validations.js"></script>
</head>

<body>
    <% if(userSession && userSession.isAdmin) { %>
    <%- include("../../partials/admin-header.ejs") %>
    <% }else{ %>
    <%- include("../../partials/header.ejs") %>
    <% } %>
    <main>
        <div class="edit-profile-container">
            <h1>Cambiar Contraseña</h1>

            <form id="change-password-form" method="post" action="/users/profile/password"> 
                <div class="form-group">
                    <label for="currentPassword">Contraseña Actual</label>
                    <input type="password" id="currentPassword" name="currentPassword" placeholder="Ingrese su contraseña actual">
                    <% if (locals.errors && locals.errors.currentPassword) { %>
                    <p class="currentPassword-error"><%= locals.errors.currentPassword.msg %></p>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="password">Contraseña Nueva</label>
                    <input type="password" id="password" name="password" placeholder="Ingresa una nueva contraseña">
                    <% if (locals.errors && locals.errors.password) { %>
                    <p class="password-error"><%= locals.errors.password.msg %></p>
                    <% } %>
                </div>

                <div class="form-group">
                    <label for="repassword">Confirmar Nueva Contraseña</label>
                    <input type="password" id="repassword" name="repassword"
                        placeholder="Confirma tu nueva contraseña">
                    <% if (locals.errors && locals.errors.repassword) { %>
                    <p class="repassword-error"><%= locals.errors.repassword.msg %></p>
                    <% } %>
                </div>

        <div class="form-actions">
          <button type="submit" class="save-btn">Guardar Cambios</button>
          <button type="button" class="cancel-btn" onclick="toProfile()">Cancelar</button>
        </div>
      </form>
    </div>
  </main>
  <% if(userSession && userSession.isAdmin) { %>
  <%- include("../../partials/admin-footer.ejs") %>
  <% }else{ %>
  <%- include("../../partials/footer.ejs") %>
  <% } %>
  <script>
    function toProfile() {
      window.location.href = "/users/profile";
    }
  </script>
</body>

</html>