<!DOCTYPE html>
<html lang="es-AR">

<head>
  <% if(userSession && userSession.isAdmin) { %>
  <%- include("../partials/admin-head.ejs") %>
  <% }else{ %>
  <%- include("../partials/head.ejs") %>
  <% } %>

  <title>Carrito de compras | Grupo Sie7e</title>

  <!--Hoja de estilos propia de esta página-->
  <link rel="stylesheet" href="/css/product-cart-styles.css">

  <!-- script de comportamiento en js -->
  <script defer src="/js/cart.js"></script>
  
</head>

<body>
  <% if(userSession && userSession.isAdmin) { %>
  <%- include("../partials/admin-header.ejs") %>
  <% }else{ %>
  <%- include("../partials/header.ejs") %>
  <% } %>
  <main>
    <div class="cart">
      <header class="cart__header">
        <p class="cart__header--title">
          <i class="cart__header--icon fa-solid fa-cart-shopping"></i>
          Tu carrito (2 items)
        </p>
      </header>
      <div class="cart__content">
        <% if (cartContent) { %>
        <% for( let i = 0; i < cartContent.length; i++ ) { %>
        <article data-id="<%= i %>" data-uniqueId="<%= cartContent[i].uniqueId %>" class="cart__content--product">
          <i data-id="<%= i %>" data-uniqueId="<%= cartContent[i].uniqueId %>" class="cart__content--product-delete-icon fa-regular fa-trash-can"></i>
          <img src=<%= cartContent[i].image %> class="cart__content--product-image">
          <div class="cart__content--product-right-box">
            <div class="cart__content--product-middleblox">
              <div class="cart__content--product-middleblox-top">
                <p class="cart__content--product-middleblox-name"><%= cartContent[i].name %></p>
              </div>
              <div class="cart__content--product-middleblox-bottom">
                <button data-id="<%= i %>" class="cart__content--product-middleblox-quantityMinus">-</button>
                <span data-id="<%= i %>" class="cart__content--product-middleblox-quantity">1</span>
                <button data-id="<%= i %>" class="cart__content--product-middleblox-quantityPlus">+</button>
              </div>
            </div>
            <p data-id="<%= i %>" class="cart__content--product-price">$<%= cartContent[i].price %></p>
          </div>
        </article>
        <% } %>
        <% } else { %>
        <article class="cart__content--product">
          <div class="cart__content--product-right-box">
            <div class="cart__content--product-middleblox">
              <p class="cart__content--product-middleblox-name">Vacio</p>
              <a href="/">
                <p>Seguir comprando</p>
              </a>
            </div>
          </div>
        </article>
        <% } %>
      </div>

      <% if (total) { %>
      <section class="cart__subtotal">
        <p class="cart__subtotal--text">Subtotal</p>
        <p id="subtotal" class="cart__subtotal--price">$<%= total %></p>
      </section>
      <% } %>
    </div>

    <button class="undoBtn hidden"><i class="fa-solid fa-rotate-left"></i></button>

    <form class="checkout" method="post" action="/cart/checkout">
      <button type="submit" class="checkout-button">Finalizar compra</button>
      <a href="/">Volver a la tienda</a>
    </form>
  </main>
  <% if(userSession && userSession.isAdmin) { %>
  <%- include("../partials/admin-footer.ejs") %>
  <% }else{ %>
  <%- include("../partials/footer.ejs") %>
  <% } %>
</body>

</html>