<!DOCTYPE html>
<html lang="es-AR">

<head>
    <%- include("partials/head.ejs") %>
    <title>Inicio | Grupo Sie7e</title>

    <!--Hoja de estilos propia de esta página-->
    <link rel="stylesheet" href="/css/home-styles.css">

    <!--Otras fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap" rel="stylesheet">
</head>

<body>
    <%- include("partials/header.ejs") %>
    <section class="search-box-container">
        <div class="search-box">
            <input type="search" class="search-box__input" placeholder="Buscar">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </section>
    <main>
        <h1>BIENVENIDOS A GRUPO SIE7E</h1>
        <h2 class="h__Title">La experiencia perfecta en sanguches</h2>
        <div class="gallery">
            <ul class="gallery__list">
                <% for(let i=0; i<topProducts.length; i++){ %>
                    <li class="gallery__item">
                        <a class="gallery__link" href="/products/detail/<%= topProducts[i].id %>">
                            <img class="gallery__image" src="<%= topProducts[i].image %>" alt="<%= topProducts[i].name %>" width="500" height="500">
                        </a>
                    </li>
                <% } %>
            </ul>
        </div>           
        <!-- Sección de productos -->
        <section class="container-card">
            <h2>Algunos de nuestros productos</h2>
            <section class="products">
                <% for(let i=0; i<products.length; i++){ %>
                    <div class="products-cards">
                        <a href="/products/detail/<%= products[i].id %>">
                            <img src="<%= products[i].image %>" alt="<%= products[i].name %>" class="img-fluid">
                        </a>
                        <h3>
                            <%= products[i].name %>
                        </h3>
                        <p>
                            <%= products[i].description %>
                        </p>
                    </div>
                <% } %>
            </section>
        </section>
    </main>
    <section class="epc-box-container">
        <div class="epc-box">
            <div class="epc">
                <i class="fas fa-shipping-fast fa-3x"></i>
                <p>Envíos y Retiros</p>
            </div>
            <div class="epc">
                <i class="fas fa-credit-card fa-3x"></i>
                <p>Paga como quieras</p>
            </div>
            <div class="epc">
                <i class="fas fa-lock fa-3x"></i>
                <p>Compra con seguridad</p>
            </div>
        </div>
    </section>
    <%- include("partials/footer.ejs") %>
    <script>
        function toProductDetail(index) {
            window.location.href = "/products/detail/" + index;
        }
    </script>
</body>

</html>