<!DOCTYPE html>
<html lang="es-AR">

<head>
    <%- include("../partials/head.ejs") %>

    <title>Product Detail | Grupo Sie7e</title>

    <!--Hoja de estilos propia de esta página-->
    <link rel="stylesheet" href="/css/product-detail-styles.css">
</head>

<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="stripe">
            <div class="stripe__tags">
                <div class="stripe__tags--product-name">
                    <p>
                        <%= inventoryItem.name %>
                    </p>
                </div>
                <div class="stripe__photo">
                    <img src="<%= inventoryItem.image %>" alt="">
                </div>
                <div class="stripe__tags--product-description">
                    <p>
                        <%= inventoryItem.description %>
                    </p>
                </div>
            </div>
            <div class="stripe__info">
                <form>

                    <% for(let i=0; i<inventoryItem.ingredients.length; i++){ %>
                        <% let value=1; %>
                        <div class="stripe__info--values">
                            <input type="checkbox" name="cheese" id="check<%= i %>" checked>
                            <label for="check<%= i %>">
                                <%= inventoryItem.ingredients[i] %>
                            </label>

                            <div class="stripe__info--values__amount">
                                <button type="button" onclick="decrement(<%= i %>)">-</button>
                                <span id="value-<%= i %>">
                                    <%= value %>
                                </span>
                                <button type="button" onclick="increment(<%= i %>)">+</button>
                            </div>

                        </div>
                        <hr>
                    <% } %>

                </form>
            </div>
            <div class="stripe__button">
                <input type="submit" name="add-to-cart" id="add-to-cart" value="Add to Cart" onclick="toCart()">
                <label for="add-to-cart">$5,000</label>
            </div>
        </div>
    </main>

    <%- include("../partials/footer.ejs") %>

    <script>

        function toCart() {
            window.location.href = "/products/cart";
        }

        function increment(id) {
            const valueSpan = document.getElementById(`value-${id}`);
            let value = parseInt(valueSpan.innerText, 10);
            value++;
            valueSpan.innerText = value;
        }

        function decrement(id) {
            const valueSpan = document.getElementById(`value-${id}`);
            let value = parseInt(valueSpan.innerText, 10);
            if (value > 0) { // Optional: to avoid negative values
                value--;
            }
            valueSpan.innerText = value;
        }

    </script>
</body>

</html>
