<!DOCTYPE html>
<html lang="es-AR">

<head>
    <%- include("../partials/head.ejs") %>

        <title>Detalle de producto | Grupo Sie7e</title>

        <!--Hoja de estilos propia de esta página-->
        <link rel="stylesheet" href="/css/product-detail-styles.css">
</head>

<body>
    <%- include("../partials/header.ejs") %>
        <main>
            <div class="stripe">
                <div class="stripe__tags">
                    <div class="stripe__tags--product-name">
                        <p>
                            <%= inventory[id].nombre %> %>
                        </p>
                    </div>
                    <div class="stripe__photo">
                        <img src="<%= inventory[id].imagen %> %>" alt="">
                    </div>
                    <div class="stripe__tags--product-description">
                        <p>
                            <%= inventory[id].descripcion %>
                        </p>
                    </div>
                </div>
                <div class="stripe__info">
                    <form>

                        <% for(let i=0; i<inventory[id].ingredientes.length; i++){ %>
                            <div class="stripe__info--values">
                                <input type="checkbox" name="cheese" id="check<%= i %>" checked>
                                <label for="check<%= i %>">
                                    <%= inventory[id].ingredientes[i] %>
                                </label>
                                <input type="button" name="minus" id="minus" value="-">
                                <label>1</label>
                                <input type="button" name="plus" id="plus" value="+">
                            </div>
                            <hr>
                            <% } %>

                                
                    </form>
                </div>
                <div class="stripe__button">
                    <input type="submit" name="add-to-cart" id="add-to-cart" value="Agregar" onclick="toCart()"">
                    <label for="add-to-cart">$5.000</label>
                </div>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
        <script>
            function toCart() {
                window.location.href = "/products/cart";
            }
        </script>
</body>

</html>