<!DOCTYPE html>
<html lang="es-AR">

<head>
  <% if(userSession && userSession.isAdmin) { %>
  <%- include("../partials/admin-head.ejs") %>
  <% }else{ %>
  <%- include("../partials/head.ejs") %>
  <% } %>

  <title>Registro | Grupo Sie7e</title>
  <script defer src="/js/sendData.js"></script>
  <!--Hoja de estilos propia de esta página-->
  <link rel="stylesheet" href="/css/register-styles.css" />
  <!-- just validate -->
  <script defer src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
  <!-- just validate script src -->
  <script defer src="/js/register-validations.js"></script>
</head>

<body>
  <% if(userSession && userSession.isAdmin) { %>
  <%- include("../partials/admin-header.ejs") %>
  <% }else{ %>
  <%- include("../partials/header.ejs") %>
  <% } %>
  <main>
    <div class="form" id="register-form">
      <div class="form__text-above">
        <h3>Registrate en:</h3>
      </div>

      <div class="form__logo">
        <img src="/images/logoG7.svg" alt="" />
      </div>

      <form method="post" action="/users/register" enctype="multipart/form-data">

        <div class="form_container">
          <input 
          autofocus
          type="text" 
          id="firstName" 
          name="firstName"
          class="form_input"
          placeholder=" "
          value="<%= locals.oldData && locals.oldData.firstName ? locals.oldData.firstName: null %>"/>

          <label for="firstName" class="form_label">Nombre*</label>
          <span class="form_line"></span>
          <% if (locals.errors && locals.errors.firstName) { %>
            <p><%= locals.errors.firstName.msg %></p>
          <% } %>
        </div>

        <div class="form_container">
          <input 
          type="text" 
          id="lastName" 
          name="lastName" 
          class="form_input" 
          placeholder=" " 
          value="<%= locals.oldData && locals.oldData.lastName ? locals.oldData.lastName: null %>"/>
          <label for="lastName" class="form_label">Apellido*</label>
          <span class="form_line"></span>
          <% if (locals.errors && locals.errors.lastName) { %>
            <p><%= locals.errors.lastName.msg %></p>
          <% } %>
        </div>

        <div class="form_container">
          <input 
          type="text" 
          id="email" 
          name="email" 
          class="form_input" 
          placeholder=" " 
          value="<%= locals.oldData && locals.oldData.email ? locals.oldData.email: null %>"/>
          <label for="email" class="form_label">Email*</label>
          <span class="form_line"></span>
          <% if (locals.errors && locals.errors.email) { %>
            <p><%= locals.errors.email.msg %></p>
          <% } %>
        </div>

        <div class="form_container">
          <input 
          type="text" 
          id="phone" 
          name="phone" 
          class="form_input" 
          placeholder=" "
          value="<%= locals.oldData && locals.oldData.phone ? locals.oldData.phone: null %>"/>
          <label for="phone" class="form_label">Telefono</label>
          <span class="form_line"></span>
          <% if (locals.errors && locals.errors.phone) { %>
            <p><%= locals.errors.phone.msg %></p>
          <% } %>
        </div>

        <div class="form_container">
          <input 
          type="text" 
          id="address" 
          name="address" 
          class="form_input" 
          placeholder=" "
          value="<%= locals.oldData && locals.oldData.address ? locals.oldData.address: null %>"/>
          <label for="address" class="form_label">Direccion</label>
          <span class="form_line"></span>
        </div>

        <div class="form_container">
          <input type="file" id="image" name="image" class="form_input" />
          <label for="image" class="form_label">Foto perfil</label>
          <span class="form_line"></span>
        </div>
        <% if (locals.errors && locals.errors.image) { %>
          <p class="image-error"><%= locals.errors.image.msg %></p>
        <% } %>

        <div class="form_container">
          <input 
          type="password"
          id="password" 
          name="password" 
          class="form_input" 
          placeholder=" "/>
          <label for="password" class="form_label">Contraseña*</label>
          <span class="form_line"></span>
          <% if (locals.errors && locals.errors.password) { %>
            <p><%= locals.errors.password.msg %></p>
          <% } %>
        </div>

        <div class="form_container">
          <input 
          type="password" 
          id="repassword" 
          name="password_repeat" 
          class="form_input" 
          placeholder=" "/>
          <label for="repassword" class="form_label">Repetir contraseña*</label>
          <span class="form_line"></span>
          <% if (locals.errors && locals.errors.password_repeat) { %>
            <p><%= locals.errors.password_repeat.msg %></p>
          <% } %>
        </div>

        <div>
          <input type="submit" type="submit" class="form_submit" value="Registrarse" />
          <p class="form_paragraph">
            <a href="/users/login" class="form_link">Ya tengo una cuenta →</a>
          </p>
        </div>
      </form>
    </div>

    <script>
      function toHome() {
        window.location.href = "/";
      }
    </script>
  </main>
  <% if(userSession && userSession.isAdmin) { %>
  <%- include("../partials/admin-footer.ejs") %>
  <% }else{ %>
  <%- include("../partials/footer.ejs") %>
  <% } %>
</body>

</html>